<!-- about.component.html -->
<section id="references">
<div>
  <p class="section_text_p1">Let's hear what you have to say!</p>
  <h2 class="title">Submit your own endorsement on behalf of Tristin.</h2>
  <div class="button-container">
  </div>
</div>

<div class="columns-container">
  <div class="column">
      <div class="work-experience details-container colors-container">
        <h2>Industry</h2>
        <button
        class="btn btn-color-2 reference-btn"
        (click)="openModal()"
      >
      Endorse
      </button>
        <div class="job">
          <div class="profile-info">
            <img src="./assets/jedi_tristin.png" alt="Profile Picture" class="profile-picture">
            <h3>John Doe</h3>
          </div>
          <div class="details">
            <p class="company">Company: ABC Inc.</p>
            <p class="contract">Title: Software Engineer</p>
            <p class="location">Relationship Duration: 2 years</p>
          </div>
          <div class="endorsement">
            <div class="endorsement-title">Endorsement</div>
            <div class="endorsement-content">
              <blockquote>
                <p>He is a dedicated and hardworking individual.</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="job">
          <div class="profile-info">
            <img src="./assets/jedi_tristin.png" alt="Profile Picture" class="profile-picture">
            <h3>John Doe</h3>
          </div>
          <div class="details">
            <p class="company">Company: ABC Inc.</p>
            <p class="contract">Title: Software Engineer</p>
            <p class="location">Relationship Duration: 2 years</p>
          </div>
          <div class="endorsement">
            <div class="endorsement-title">Endorsement</div>
            <div class="endorsement-content">
              <blockquote>
                <p>He is a dedicated and hardworking individual.</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="job">
          <div class="profile-info">
            <img src="./assets/jedi_tristin.png" alt="Profile Picture" class="profile-picture">
            <h3>John Doe</h3>
          </div>
          <div class="details">
            <p class="company">Company: ABC Inc.</p>
            <p class="contract">Title: Software Engineer</p>
            <p class="location">Relationship Duration: 2 years</p>
          </div>
          <div class="endorsement">
            <div class="endorsement-title">Endorsement</div>
            <div class="endorsement-content">
              <blockquote>
                <p>He is a dedicated and hardworking individual.</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="column">
    <div class="work-experience details-container colors-container">
      <h2>Character</h2>
      <button
      class="btn btn-color-2 reference-btn"
      (click)="openModal()"
    >
      Endorse
    </button>
      <div class="job">
        <div class="profile-info">
          <img src="./assets/jedi_tristin.png" alt="Profile Picture" class="profile-picture">
          <h3>John Doe</h3>
        </div>
        <div class="details">
          <p class="company">Relationship: Friend</p>
          <p class="location">Relationship Duration: 2 years</p>
        </div>
        <div class="endorsement">
          <div class="endorsement-title">Endorsement</div>
          <div class="endorsement-content">
            <blockquote>
              <p>He is a dedicated and hardworking individual.</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="profile-info">
          <img src="./assets/jedi_tristin.png" alt="Profile Picture" class="profile-picture">
          <h3>John Doe</h3>
        </div>
        <div class="details">
          <p class="company">Relationship: Friend</p>
          <p class="location">Relationship Duration: 2 years</p>
        </div>
        <div class="endorsement">
          <div class="endorsement-title">Endorsement</div>
          <div class="endorsement-content">
            <blockquote>
              <p>He is a dedicated and hardworking individual.</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="profile-info">
          <img src="./assets/jedi_tristin.png" alt="Profile Picture" class="profile-picture">
          <h3>John Doe</h3>
        </div>
        <div class="details">
          <p class="company">Relationship: Friend</p>
          <p class="location">Relationship Duration: 2 years</p>
        </div>
        <div class="endorsement">
          <div class="endorsement-title">Endorsement</div>
          <div class="endorsement-content">
            <blockquote>
              <p>He is a dedicated and hardworking individual.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
