<section id="experience">
  <p class="section__text__p1">Explore My</p>
  <h1 class="title">Experience</h1>
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-5">Career Goals</h4>
    
                    <div class="hori-timeline" dir="ltr">
                        <ul class="list-inline events">
                            <li class="list-inline-item event-list">
                                <div class="px-4">
                                    <div class="event-date bg-soft-primary text-primary">2022</div>
                                    <h5 class="font-size-16">B. Sc. Software Engineering - Full-Stack Engineer</h5>
                                    <p class="text-muted">You are here!</p>
                                </div>
                            </li>
                            <li class="list-inline-item event-list">
                                <div class="px-4">
                                    <div class="event-date bg-soft-success text-success">2025</div>
                                    <h5 class="font-size-16">Cloud Solutions Architect</h5>
                                    <p class="text-muted">A little soon eh??</p>
                                </div>
                            </li>
                            <li class="list-inline-item event-list">
                                <div class="px-4">
                                    <div class="event-date bg-soft-danger text-danger">2030</div>
                                    <h5 class="font-size-16">Tech Guru</h5>
                                    <p class="text-muted">I'm basically the next Elon at this point.</p>
                                </div>
                            </li>
                            <li class="list-inline-item event-list">
                                <div class="px-4">
                                    <div class="event-date bg-soft-warning text-warning">2045</div>
                                    <h5 class="font-size-16">President of the United States or a Jedi</h5>
                                    <p class="text-muted">Depending on how technology progresses</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
    </div>
  </div>
  <div class="columns-container">
    <div class="column">
        <div class="details-container colors-container">
          <h2>Industry Experience</h2>
            <div class="work-experience">
            <div class="job">
              <div class="profile-info">
                <img src="./assets/ROC_LOGO.jpg" alt="Risen One Consulting" class="profile-picture">
              </div>
              <div class="details">
                
                <p class="contract">Title: JEE Developer Cloud Technology</p>
                <p class="location">Date: 10/2023</p>
              </div>
              <div class="endorsement">
                
                <div class="endorsement-content">
                  <blockquote>
                    <div class="endorsement-title">Farm Loans Program - Pay My Loan Team</div>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="job">
              <div class="profile-info">
                <img src="./assets/ROC_LOGO.jpg" alt="Risen One Consulting" class="profile-picture">
              </div>
              <div class="details">
                
                <p class="contract">Title: Full-Stack Software Developer</p>
                <p class="location">Date: 12/2022</p>
              </div>
              <div class="endorsement">
                
                <div class="endorsement-content">
                  <blockquote>
                    <div class="endorsement-title">Farm Loans Program - Special Servicing Team</div>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="job">
              <div class="profile-info">
                <img src="./assets/dst_systems_.jpg" alt="SS&C Technologies" class="profile-picture">
              </div>
              <div class="details">
                
                <p class="contract">Title: Technical Development Intern</p>
                <p class="location">Date: 04/2022</p>
              </div>
              <div class="endorsement">
                
                <div class="endorsement-content">
                  <blockquote>
                    <div class="endorsement-title">DST Systems - Chorus Hosting Team</div>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  
    <div class="column">
        <div class=" details-container colors-container">
          <h2>Self Proclaimed Skills</h2>
          <div class="work-experience">
            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>Leadership</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>Problem Solving</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>Teamwork and Collaboration</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>CI/CD</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>Communication</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>Teamwork and Collaboration</h3>
            </div>
            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>JAVASCRIPT, HTML, CSS</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>ANGULARJS</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>Cloud Migration</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>PYTHON</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>Kayaking</h3>
            </div>

            <div class="job">
              <div class="profile-info">
                <img src="./assets/checkmark.png" alt="Risen One Consulting" class="check-picture">
              </div>
              <h3>Teamwork and Collaboration</h3>
            </div>
          </div>
        </div>
    </div>
  
    <div class="column">
      <div class="details-container colors-container">
        <h2>Certifications & Formal Training</h2>
        <div class="work-experience">
          <div class="job">
            <div class="profile-info">
              <img src="./assets/aws_logo.jpg" alt="Risen One Consulting" class="profile-picture">
            </div>
            <div class="details">
              <p class="contract">Authority: Amazon Web Services</p>
              <p class="location">Exp Date: Pending</p>
            </div>
            <div class="endorsement">
              
              <div class="endorsement-content">
                <blockquote>
                  <div class="endorsement-title">Solutions Architect Associate</div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="job">
            <div class="profile-info">
              <img src="./assets/aws_logo.jpg" alt="Risen One Consulting" class="profile-picture">
            </div>
            <div class="details">
              <p class="contract">Authority: Amazon Web Services</p>
              <p class="location">Exp Date: Pending</p>
            </div>
            <div class="endorsement">
              
              <div class="endorsement-content">
                <blockquote>
                  <div class="endorsement-title">Certified Developer Associate</div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="job">
            <div class="profile-info">
              <img src="./assets/dept_of_state.png" alt="SS&C Technologies" class="profile-picture">
            </div>
            <div class="details">
              <p class="contract">Authority: United States Dept of State</p>
              <p class="location">Exp Date: 12/2031</p>
            </div>
            <div class="endorsement">
              <div class="endorsement-content">
                <blockquote>
                  <div class="endorsement-title">Public Trust Security Clearance</div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="job">
            <div class="profile-info">
              <img src="./assets/udemy.jpg" alt="SS&C Technologies" class="profile-picture">
            </div>
            <div class="details">
              <p class="contract">Authority: Udemy</p>
              <p class="location">Exp Date: N/A</p>
            </div>
            <div class="endorsement">
              <div class="endorsement-content">
                <blockquote>
                  <div class="endorsement-title">Amazon Aurora PostgresSQL from A to Z</div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="job">
            <div class="profile-info">
              <img src="./assets/udemy.jpg" alt="SS&C Technologies" class="profile-picture">
            </div>
            <div class="details">
              <p class="contract">Authority: Udemy</p>
              <p class="location">Exp Date: N/A</p>
            </div>
            <div class="endorsement">
              <div class="endorsement-content">
                <blockquote>
                  <div class="endorsement-title">Angular - The Complete Guide</div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="job">
            <div class="profile-info">
              <img src="./assets/udemy.jpg" alt="SS&C Technologies" class="profile-picture">
            </div>
            <div class="details">
              <p class="contract">Authority: Udemy</p>
              <p class="location">Exp Date: N/A</p>
            </div>
            <div class="endorsement">
              <div class="endorsement-content">
                <blockquote>
                  <div class="endorsement-title">Ultimate AWS Certified Cloud Practitioner</div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="job">
            <div class="profile-info">
              <img src="./assets/udemy.jpg" alt="SS&C Technologies" class="profile-picture">
            </div>
            <div class="details">
              <p class="contract">Authority: Udemy</p>
              <p class="location">Exp Date: N/A</p>
            </div>
            <div class="endorsement">
              <div class="endorsement-content">
                <blockquote>
                  <div class="endorsement-title">Rocking AWS Serverless - A Real World Guide</div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
